<h1><%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :movie_id, collection: Movie.all %>
  <%= f.submit %>
<% end %>

<div>
  <div class="d-flex justify-content-between m-3">
    <%= link_to "Delete list", list_path(@list), data: {turbo_method: :delete}, class: "btn btn-secondary text-white" %>
    <%= link_to "Back", lists_path, class: "btn btn-light" %>
  </div>
</div>

<div class="container row">
    <% @bookmarks.each do |bookmark| %>
    <div class="col-4 mb-3">
      <img src="<%= bookmark.movie.poster_url %>" alt="movie_poster" width="200px" height="auto" class="mb-3">
      <p><%= bookmark.comment %></p>
      <p><%= bookmark.movie.title %></p>
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete}, class: "btn btn-secondary text-white" %>
    </div>
    <% end %>
</div>

